<h1>About the Project</h1>

<h2>The Vision</h2>
<p>We believe in unlimited energy for everyone.</p>

<h2>The Team</h2>
<p>
  <ul>
    <li>Jen</li>
    <li>Beth</li>
    <li>Rory</li>
    <li>Tope</li>
    <li>Tillmann</li>
  </ul>
  
</p>
