<div class="marketing">
    <br/>
    <br/>
    <h1>About us.</h1>
  
</div>

<br/><br/>

<div class="row">
  <div class="span4">
		<h2>The Team</h2>
  	<p>
  	  <ul>
  	    <li>Jen</li>
  	    <li>Beth</li>
  	    <li>Rory</li>
  	    <li>Tope</li>
  	    <li>Tillmann</li>
  	  </ul>
  	</p>
  </div>
  
  <div class="span4">
		<h2>The Team</h2>  
    <p>Urban Sunspot started as Sol Design Lab. For the past three years, Sol Design lab has been developing and implementing solar charge stations both permanent and for events throughout the United States. The purpose of the project is to bring knowledge about solar energy to the masses, while providing a useable and immediate use for the public.</p>
  </div>
  <div class="span4">
		<h2>Cooperation</h2>
  	<p>
      <%= image_tag 'Voltremote_logo_w300.png' %>
      The Voltremote GmbH, Hamburg, Germany supports this project with monitoring and visualization platform.
    </p>
    </div>  
  </div>
</div>

