<div style="margin-top:-50px; border-radius: 5px; padding:10px; background:#ddd;">
	<table style="v-align:top;">
	<tr><td style="width:25%"><h1>The Vision</h1>
	<p>We believe in unlimited energy for everyone.</p>
</td>
	<td style="width:25%">
		<h2>The Team</h2>
	<p>
	  <ul>
	    <li>Jen</li>
	    <li>Beth</li>
	    <li>Rory</li>
	    <li>Tope</li>
	    <li>Tillmann</li>
	  </ul>
  
	</p>
</td>
<td style="width:35%"><h2>The Story</h2>
	<p>Urban Sunspot started as Sol Design Lab. For the past three years, Sol Design lab has been developing and implementing solar charge stations both permanent and for events throughout the United States. The purpose of the project is to bring knowledge about solar energy to the masses, while providing a useable and immediate use for the public.</p>
</td>
</tr>
</table>

</div>

