<h1>Contact us!</h1>

<h2> Sol Design Lab</h2>
<p>
  soldesignlab[at]gmail.com<br/>
  <a href="www.SolDesignLab.com">www.SolDesignLab.com</a><br/>
  <a href="www.facebook.com/soldesignlab">www.facebook.com/soldesignlab</a><br/>
</p>
