<div style="margin-top:-50px; border-radius: 5px; padding:10px; background:#ddd;  height:90%;">
<h1>Welcome to Urban Sunspot!</h1>
<p><img style="float:right;" width="140px" src="/assets/asunspot.jpeg"/>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga."</p>
  <table><tr><td>
    <h2>Stations</h2>
    <h4>
      <% @stations.each do |station| %>
        <%= station.name %>
        <%= link_to "Check Status", station, :class => "btn  btn-success"%>
      <% end%>
    </h4>
  </td>
  <div style="margin-top:20px; float:right; width:45%;">
      <h2>Newest Charges</h2>
    <p>
      <% @charges.each do |charge| %>
        <%= charge %>
      <% end%>
    </p>
  </td>
  </tr>
</div>

</div>