<div class="row">
  <div class="span4">
    <h2>Welcome to Sunspot</h2>
    <p>
      adsfj afsd
      dasffsaddsfs
    </p>
  </div>

  <div class="span4">
    <h2>Stations</h2>
    <p>
      <% @stations.each do |station| %>
        <%= station.name %>
        <%= link_to "Check Status", station, :class => "btn  btn-success"%>
      <% end%>
    </p>
  </div>

  <div class="span4">
    <h2>Newest Charges</h2>
    <p>
      <% @charges.each do |charge| %>
        <%= charge %>
      <% end%>
    </p>
  </div>
</div>

<div class="row">
  <div class="span4">

<a class="twitter-timeline" data-dnt=true href="https://twitter.com/UrbanSunSpot" data-widget-id="267495998056693760">Tweets by @UrbanSunSpot</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>