<div class="row">
  <div class="span4">
    <h2>Welcome to Sunspot</h2>
    <p>
      adsfj afsd
      dasffsaddsfs
    </p>
  </div>

  <div class="span4">
    <h2>Stations</h2>
    <p>
      <% @stations.each do |station| %>
        <%= station.name %>
        <%= link_to "Check Status", station, :class => "btn  btn-success"%>
      <% end%>
    </p>
  </div>

  <div class="span4">
    <h2>Newest Charges</h2>
    <p>
      <% @charges.each do |charge| %>
        <%= charge %>
      <% end%>
    </p>
  </div>


</div>