 <%= content_for :page_header do %>
 <span style="color:white">Thanks for charging!</span>
<% end %>

<br/>
<br/>


<div style = "float:right; padding:1em;" >

<a href="https://twitter.com/intent/tweet?button_hashtag=<%=@station.slug%>&text=I'm%20charging%20up%20with%20%40urbansunspot!" class="twitter-hashtag-button" data-size="large" data-related="digitalWestie" data-dnt="true">Tweet!</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>